@import url(./fonts.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  max-width: 1440px;
  height: 700px;
  margin: 0 auto;
}
header .block-img {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./img/HeadaerandPromo.png);
}
header .block-img .block {
  max-width: 950px;
  height: 75px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
header .block-img .block__logo {
  margin: 0 0 5px 4px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Montserrat";
  color: #FFFFFF;
}
header .block-img .block .box {
  width: 180px;
  height: 37px;
  margin: 0 42px 0 0;
}
header .block-img .block .box__login {
  width: 46%;
  height: 100%;
  background: none;
  border: none;
  padding: 4px 0 0 7px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat";
  color: #FFFFFF;
}
header .block-img .block .box__signup {
  width: 51%;
  height: 99%;
  border: 2px solid #FFFFFF;
  border-radius: 17px;
  background: none;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat";
  color: #FFFFFF;
}
header .name {
  max-width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .name__share {
  font-size: 52px;
  font-weight: 700;
  font-family: "Montserrat";
  color: #FFFFFF;
  margin: 0 0 30px;
  line-height: 63px;
  text-align: center;
}
header .name__find {
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto-Light";
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 34px;
}
header .name__holiday {
  font-size: 14px;
  font-weight: bold;
  font-family: "Montserrat";
  color: #FFFFFF;
  width: 225px;
  height: 42px;
  border: none;
  background-color: #FF4E50;
  border-radius: 20px;
}

main {
  max-width: 940px;
  height: 2490px;
  margin: 0 auto;
  padding-top: 88px;
}
main .how {
  font-size: 26px;
  font-weight: 700;
  font-family: "Montserrat";
  color: #444444;
  text-align: center;
}
main .step {
  max-width: 100%;
  height: 400px;
  margin-top: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .step .step-1,
main .step .step-2,
main .step .step-3 {
  max-width: 32%;
  height: 100%;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 28px 20px 25px;
}
main .step .step-1__button,
main .step .step-2__button,
main .step .step-3__button {
  width: 70px;
  height: 20px;
  border-radius: 10px;
  border: none;
  background-color: #FF4E50;
  font-family: "Montserrat";
  font-size: 10px;
  color: #FFFFFF;
  line-height: 12px;
  letter-spacing: 2px;
  padding-top: 4px;
}
main .step .step-1__name,
main .step .step-2__name,
main .step .step-3__name {
  font-size: 24px;
  font-weight: bold;
  font-family: "Montserrat";
  line-height: 26px;
  color: #FFFFFF;
  margin-top: 24px;
}
main .step .step-1__text,
main .step .step-2__text,
main .step .step-3__text {
  font-size: 14px;
  font-weight: 200;
  font-family: "Roboto-Light";
  line-height: 14px;
  color: #E3E3E3;
  margin-top: 24px;
}
main .step .step-1 {
  background-image: url(./img/Step-1.png);
}
main .step .step-2 {
  background-image: url(./img/Step-2.png);
}
main .step .step-2__text {
  margin-top: 18px;
}
main .step .step-3 {
  background-image: url(./img/Step-3.png);
}
main .partner {
  max-width: 941px;
  height: 366px;
  margin: 0 auto;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .partner__meet {
  font-size: 26px;
  font-weight: bold;
  font-family: "Montserrat";
  color: #444444;
  line-height: 32px;
  padding-bottom: 8px;
}
main .partner .person {
  width: 100%;
  height: 265px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .partner .person .person-1,
main .partner .person .person-2,
main .partner .person .person-3,
main .partner .person .person-4 {
  max-width: 23.7%;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}
main .partner .person .person-1__avatar,
main .partner .person .person-2__avatar,
main .partner .person .person-3__avatar,
main .partner .person .person-4__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
}
main .partner .person .person-1__name,
main .partner .person .person-2__name,
main .partner .person .person-3__name,
main .partner .person .person-4__name {
  font-size: 14px;
  font-weight: 700;
  font-family: "Montserrat";
  line-height: 17px;
  color: #444444;
  margin-top: 20px;
}
main .partner .person .person-1__info,
main .partner .person .person-2__info,
main .partner .person .person-3__info,
main .partner .person .person-4__info {
  font-size: 14px;
  font-weight: 300;
  font-family: "Roboto-Light";
  line-height: 14px;
  color: #666666;
  text-align: center;
  margin-top: 22px;
}
main .partner .person .person-1__avatar {
  background-image: url(./img/Photo-1.png);
}
main .partner .person .person-1__avatar::before {
  content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='white' viewBox='0 0 24 24' id='music'><path d='M20,2.74a1,1,0,0,0-.93-.1l-10,4a1,1,0,0,0-.63.92V16A4.19,4.19,0,0,0,7,15.78c-1.93,0-3.44,1.24-3.44,2.83S5.07,21.44,7,21.44a3.61,3.61,0,0,0,3-1.39,1,1,0,0,0,.48-.83V12.08l8-3.07v5A4.19,4.19,0,0,0,17,13.78c-1.93,0-3.44,1.24-3.44,2.83s1.51,2.83,3.44,2.83a3.61,3.61,0,0,0,3-1.39,1,1,0,0,0,.48-.83V3.56A1,1,0,0,0,20,2.74Z' data-name='30. Double, music, notation, note'></path></svg>");
  display: flex;
  border: 5px solid white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  top: 85px;
  right: -5px;
  justify-content: space-evenly;
  align-items: center;
  background-color: #FF4E50;
}
main .partner .person .person-2__avatar {
  background-image: url(./img/Photo-2.png);
}
main .partner .person .person-2__avatar::before {
  content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' viewBox='0 0 20 20' id='brush'><path d='M2.763 13.563c-1.515 1.488-.235 3.016-2.247 5.279-.908 1.023 3.738.711 6.039-1.551.977-.961.701-2.359-.346-3.389-1.047-1.028-2.47-1.3-3.446-.339zM19.539.659C18.763-.105 10.16 6.788 7.6 9.305c-1.271 1.25-1.695 1.92-2.084 2.42-.17.219.055.285.154.336.504.258.856.496 1.311.943.456.447.699.793.959 1.289.053.098.121.318.342.152.51-.383 1.191-.801 2.462-2.049C13.305 9.88 20.317 1.422 19.539.659z'></path></svg>");
  display: flex;
  border: 5px solid white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  top: 85px;
  right: -5px;
  justify-content: center;
  align-items: center;
  background-color: #19D4CA;
}
main .partner .person .person-3__avatar {
  margin-left: 4px;
  background-image: url(./img/Photo-3.png);
}
main .partner .person .person-3__avatar::before {
  content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' viewBox='0 0 20 20' id='camera'><path d='M10 8a3 3 0 1 0 0 6 3 3 0 0 0 0-6zm8-3h-2.4a.888.888 0 0 1-.789-.57l-.621-1.861A.89.89 0 0 0 13.4 2H6.6c-.33 0-.686.256-.789.568L5.189 4.43A.889.889 0 0 1 4.4 5H2C.9 5 0 5.9 0 7v9c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm-8 11a5 5 0 0 1-5-5 5 5 0 1 1 10 0 5 5 0 0 1-5 5zm7.5-7.8a.7.7 0 1 1 0-1.4.7.7 0 0 1 0 1.4z'></path></svg>");
  display: flex;
  border: 5px solid white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  top: 85px;
  right: -5px;
  justify-content: center;
  align-items: center;
  background-color: #FFA710;
}
main .partner .person .person-3__info {
  margin-top: 24px;
}
main .partner .person .person-4__avatar {
  background-image: url(./img/Photo-4.png);
  margin-left: 4px;
}
main .partner .person .person-4__avatar::before {
  display: flex;
  border: 5px solid white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  top: 85px;
  right: -5px;
  content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='white' viewBox='0 0 512 512' id='plane'><path d='M448 336v-40L288 192V79.2c0-17.683-14.82-31.2-32-31.2-17.179 0-32 13.518-32 31.2V192L64 296v40l160-48v113.602l-48 31.199V464l80-16 80 16v-31.199l-48-31.199V288l160 48z'></path></svg>");
  justify-content: center;
  align-items: center;
  background-color: #667DF3;
  transform: rotate(60deg);
}
main .partner .person .person-4__info {
  margin-top: 27px;
  padding-left: 4px;
}
main .partner__see {
  font-size: 14px;
  font-weight: bold;
  font-family: "Montserrat";
  color: #FF4E50;
  width: 180px;
  height: 40px;
  background-color: #FFFFFF;
  border: 2px solid #FF4E50;
  border-radius: 20px;
  margin: 21px auto 0;
  padding-top: 2px;
  padding-left: 4px;
}
main .ideas-block {
  max-width: 940px;
  height: 1125px;
  padding-top: 88px;
}
main .ideas-block__ideas {
  font-size: 26px;
  font-weight: bold;
  font-family: "Montserrat";
  color: #444444;
  line-height: 32px;
  text-align: center;
}
main .ideas-block__block-foto {
  width: 100%;
  height: 968px;
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .ideas-block__box-foto-1 {
  width: 32%;
  height: 310px;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./img/Object-1.png);
}
main .ideas-block__box-foto-2 {
  width: 32%;
  height: 310px;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./img/Object-2.png);
}
main .ideas-block__box-foto-3 {
  width: 32%;
  height: 310px;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./img/Object-3.png);
}
main .ideas-block__box-foto-4 {
  width: 32%;
  height: 310px;
  margin-top: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./img/Object-4.png);
}
main .ideas-block__box-foto-5 {
  width: 66%;
  height: 310px;
  margin-top: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./img/Object-5.png);
}
main .ideas-block__box-foto-6 {
  width: 66%;
  height: 310px;
  margin-top: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./img/Object-6.png);
}
main .ideas-block__box-foto-7 {
  width: 32%;
  height: 310px;
  margin-top: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./img/Object-7.png);
}
main .ideas-block__p {
  font-size: 22px;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
}
main .interests {
  width: 488px;
  height: 354px;
  margin: 0 auto;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 8px;
}
main .interests h2 {
  font-size: 26px;
  font-weight: 700;
  font-family: "Montserrat";
  color: #444444;
  line-height: 32px;
  text-align: center;
}
main .interests p {
  font-size: 18px;
  font-weight: 300;
  font-family: "Roboto-Light";
  color: #666666;
  line-height: 14px;
  text-align: center;
  margin: 54px 0 24px;
}
main .interests form input[type=text] {
  width: 300px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #D4D4D4;
  background-color: #FFFFFF;
  padding: 5px 0 0 16px;
  margin-left: 3px;
}
main .interests form input[type=button] {
  width: 172px;
  height: 40px;
  border-radius: 40px;
  border: none;
  background-color: #FF4E50;
  color: #FFFFFF;
  font-size: 14;
  line-height: 17px;
  font-weight: 700;
  font-family: "Montserrat";
  margin: 0 0 0px 5px;
  padding-top: 5px;
}

footer {
  max-width: 1440px;
  height: 260px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 30px 1fr;
}
footer .red {
  max-width: 1440px;
  height: 3px;
  background-color: #FF4E50;
  grid-row: 1/2;
  grid-column: 1/7;
}
footer .dreamshare {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #FF4E50;
  grid-row: 2/3;
  grid-column: 2/3;
  padding: 8px 0 0 10px;
}
footer .company {
  grid-row: 2/3;
  grid-column: 3/4;
  padding: 12px 0 0 10px;
}
footer .company h3 {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: #444444;
  margin-bottom: 10px;
}
footer .company p {
  font-family: "Roboto-Light";
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  color: #999999;
}
footer .partners {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: #444444;
  grid-row: 2/3;
  grid-column: 4/5;
  padding: 12px 0 0 10px;
}
footer .areto {
  grid-row: 2/3;
  grid-column: 5/6;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px 6px 0 0;
}
footer .areto p {
  font-family: "Montserrat";
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  color: #CCCCCC;
  letter-spacing: 1px;
  margin-bottom: 7px;
}
footer .areto .icon {
  width: 110px;
  height: 24px;
  background-image: url();
  background-image: url(./img/Bitmap.png);
  margin-right: 4px;
}

/*-----768px-------*/
@media screen and (max-width: 768px) {
  header {
    max-width: 768px;
    height: 700px;
  }
  header .block-img {
    width: 100%;
    height: 100%;
    background-image: url(./img/Headaer-and-Promo.png);
  }
  header .block-img .block__logo {
    margin: 0 0 6px 47px;
  }
  header .block-img .block .box {
    margin: 0 48px 1px 0;
  }
  header .block-img .block .box__login {
    width: 47%;
    padding-left: 10px;
  }
  header .block-img .block .box__signup {
    width: 50%;
    border: 2px solid white;
  }
  header .block-img .name {
    height: 548px;
    margin-bottom: 2px;
  }
  header .block-img .name__share {
    margin-bottom: 28px;
  }
  header .block-img .name__find {
    margin-bottom: 34px;
  }
  header .block-img .name__holiday {
    height: 40px;
    padding-top: 2px;
  }
  main {
    height: 2735px;
    padding-top: 95px;
  }
  main .how {
    font-size: 22px;
  }
  main .step {
    max-width: 748px;
    height: 400px;
    margin: 0 auto;
    margin-top: 34px;
  }
  main .step .step-1,
main .step .step-2,
main .step .step-3 {
    max-width: 31.5%;
    height: 100%;
    padding: 0 15px 15px 20px;
    overflow: hidden;
  }
  main .step .step-1__name,
main .step .step-2__name,
main .step .step-3__name {
    line-height: 14px;
    margin-top: 45px;
  }
  main .step .step-1__text,
main .step .step-2__text,
main .step .step-3__text {
    margin-top: 30px;
  }
  main .step .step-1 {
    background-image: url(./img/Step-1m.png);
  }
  main .step .step-2 {
    background-image: url(./img/Step-2m.png);
  }
  main .step .step-2__name {
    line-height: 14px;
    margin-top: 15px;
    word-spacing: 1px;
  }
  main .step .step-2__text {
    margin-top: 24px;
  }
  main .step .step-3 {
    background-image: url(./img/Step-3m.png);
  }
  main .partner {
    max-width: 492px;
    height: 610px;
  }
  main .partner__meet {
    font-size: 22px;
    margin-top: 2px;
  }
  main .partner .person {
    width: 100%;
    height: 500px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    margin-top: 23px;
  }
  main .partner .person .person-1,
main .partner .person .person-2,
main .partner .person .person-3,
main .partner .person .person-4 {
    margin-top: 0;
    max-width: 236px;
    height: 240px;
  }
  main .partner .person .person-2__name {
    margin-top: 19px;
  }
  main .partner .person .person-2__info {
    margin-top: 22px;
  }
  main .partner .person .person-3__info {
    margin-top: 27px;
  }
  main .partner .person .person-4__name {
    margin-top: 19px;
  }
  main .partner .person .person-4__info {
    margin-top: 22px;
    padding-left: 0;
  }
  main .partner__see {
    margin-top: 5px;
  }
  main .ideas-block {
    max-width: 748px;
    margin: 0 auto;
    padding-top: 90px;
  }
  main .ideas-block__ideas {
    font-size: 22px;
  }
  main .ideas-block__block-foto {
    margin-top: 35px;
  }
  main .ideas-block__box-foto-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./img/Object-1m.png);
    width: 31.5%;
  }
  main .ideas-block__box-foto-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./img/Object-2m.png);
    width: 31.5%;
  }
  main .ideas-block__box-foto-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./img/Object-3m.png);
    width: 31.5%;
  }
  main .ideas-block__box-foto-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./img/Object-4m.png);
    width: 31.5%;
  }
  main .ideas-block__box-foto-5 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./img/Object-5m.png);
    width: 66%;
  }
  main .ideas-block__box-foto-6 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./img/Object-6m.png);
    width: 66%;
  }
  main .ideas-block__box-foto-7 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./img/Object-7m.png);
    width: 31.5%;
  }
  main .interests h2 {
    font-size: 22px;
  }
  main .interests p {
    margin: 50px 0 24px;
  }
  footer {
    max-width: 768px;
    height: 224px;
    display: grid;
    grid-template-columns: 256px 1fr 1fr 1fr;
    grid-template-rows: 30px 1fr;
  }
  footer .red {
    grid-row: 1/2;
    grid-column: 1/5;
  }
  footer .dreamshare {
    grid-row: 2/3;
    grid-column: 1/2;
    padding-left: 40px;
  }
  footer .company {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  footer .partners {
    grid-row: 2/3;
    grid-column: 3/4;
  }
  footer .areto {
    grid-row: 2/3;
    grid-column: 4/5;
    padding-right: 36px;
  }
}
@media screen and (max-width: 576px) {
  header {
    max-width: 320px;
    height: 540px;
    margin-left: 10px;
    margin: 0 auto;
  }
  header .block-img {
    width: 97%;
    margin-left: 9px;
    background-image: url(./img/Background.png);
    /*----*/
  }
  header .block-img .block {
    flex-direction: column;
    height: 175px;
  }
  header .block-img .block__logo {
    order: 2;
    margin: 20px auto 0;
    padding-left: 12px;
  }
  header .block-img .block .box {
    width: 69%;
    margin: 18px auto;
    padding-right: 30px;
    padding-bottom: 4px;
  }
  header .block-img .block .box__login {
    text-align: end;
    padding-right: 15px;
  }
  header .block-img .block .box__signup {
    width: 90px;
    height: 36px;
  }
  header .block-img .name {
    height: 365px;
    justify-content: flex-start;
  }
  header .block-img .name__share {
    font-size: 30px;
    font-weight: 700;
    font-family: "Montserrat";
    margin: 30px 0 0;
    line-height: 36px;
    padding-left: 10px;
  }
  header .block-img .name__find {
    font-size: 18px;
    font-weight: 300;
    font-family: "Roboto-Light";
    line-height: 24px;
    padding: 0 28px;
    text-align: center;
    margin: 6px 0 0;
  }
  header .block-img .name__holiday {
    font-size: 14px;
    font-weight: bold;
    font-family: "Montserrat";
    width: 91%;
    height: 41px;
    margin: 15px 0 0 10px;
    padding: 0;
    background-color: #FF4E50;
  }
  main {
    max-width: 320px;
    height: 3172px;
    padding-top: 34px;
  }
  main .step {
    max-width: 300px;
    height: 740px;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 15px;
  }
  main .step .step-1 {
    background-image: url(./img/Step-1T.png);
    max-width: 100%;
    height: 240px;
    padding: 0 35px 14px 19px;
  }
  main .step .step-1__button {
    padding-bottom: 3px;
  }
  main .step .step-1__text {
    margin-top: 25px;
  }
  main .step .step-2 {
    background-image: url(./img/Step-2T.png);
    max-width: 100%;
    height: 240px;
    padding: 0 35px 14px 19px;
  }
  main .step .step-2__name {
    margin-top: 30px;
  }
  main .step .step-3 {
    background-image: url(./img/Step-3T.png);
    max-width: 100%;
    height: 240px;
    padding: 0 35px 14px 19px;
  }
  main .step .step-3__button {
    padding-bottom: 3px;
  }
  main .step .step-3__text {
    margin-top: 25px;
  }
  main .partner {
    max-width: 300px;
    height: 1035px;
    margin-top: 34px;
  }
  main .partner__meet {
    text-align: center;
    line-height: 27px;
  }
  main .partner .person {
    width: 100%;
    height: 904px;
    align-content: center;
    justify-content: space-between;
    margin-top: 5px;
  }
  main .partner .person .person-1 {
    height: 220px;
    order: 1;
  }
  main .partner .person .person-2 {
    height: 220px;
    order: 3;
    margin-top: 9px;
  }
  main .partner .person .person-2__avatar::before {
    top: 84px;
  }
  main .partner .person .person-3 {
    height: 230px;
    order: 2;
    margin-top: 3px;
  }
  main .partner .person .person-3__avatar {
    margin-left: 0;
  }
  main .partner .person .person-3__avatar::before {
    top: 82px;
  }
  main .partner .person .person-3__name {
    margin-top: 18px;
  }
  main .partner .person .person-4 {
    height: 220px;
    order: 4;
    margin-top: 2px;
  }
  main .partner .person .person-4__avatar {
    margin-left: 0;
  }
  main .partner .person .person-4__avatar::before {
    top: 82px;
  }
  main .partner__see {
    width: 93.3%;
    margin-top: 20px;
  }
  main .ideas-block {
    width: 93.75%;
    height: 1010px;
    padding-top: 34px;
  }
  main .ideas-block__ideas {
    line-height: 27px;
    padding: 0 40px 0 40px;
  }
  main .ideas-block__block-foto {
    width: 100%;
    height: 900px;
    flex-direction: column;
    margin-top: 33px;
  }
  main .ideas-block__box-foto-1 {
    width: 100%;
    height: 120px;
    margin-top: 0px;
    padding-bottom: 28px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./img/Object-1T.png);
  }
  main .ideas-block__box-foto-1 p {
    padding: 0 50px 0 50px;
  }
  main .ideas-block__box-foto-2 {
    width: 100%;
    height: 120px;
    margin-top: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./img/Object-2T.png);
  }
  main .ideas-block__box-foto-2 p {
    padding: 0 50px 0 50px;
  }
  main .ideas-block__box-foto-3 {
    width: 100%;
    height: 120px;
    margin-top: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./img/Object-3T.png);
  }
  main .ideas-block__box-foto-4 {
    width: 100%;
    height: 120px;
    margin-top: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./img/Object-4T.png);
  }
  main .ideas-block__box-foto-5 {
    width: 100%;
    height: 120px;
    margin-top: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./img/Object-5T.png);
  }
  main .ideas-block__box-foto-6 {
    width: 100%;
    height: 120px;
    margin-top: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./img/Object-6T.png);
  }
  main .ideas-block__box-foto-7 {
    width: 100%;
    height: 120px;
    margin-top: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./img/Object-7T.png);
  }
  main .interests {
    width: 93.75%;
    height: 210px;
    justify-content: start;
    padding: 0;
    margin-top: 45px;
  }
  main .interests h2 {
    line-height: 27px;
  }
  main .interests p {
    margin: 19px 0 15px;
  }
  main .interests form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 5px;
  }
  main .interests form input[type=text] {
    width: 93.3%;
    padding-left: 12px;
  }
  main .interests form input[type=button] {
    width: 93.3%;
    margin-top: 10px;
    padding: 0 0 0 8px;
    letter-spacing: 0.4px;
  }
  footer {
    max-width: 320px;
    height: 204px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .red {
    width: 100%;
    height: 3px;
  }
  footer .dreamshare {
    padding: 0;
    margin-top: 18px;
  }
  footer .company {
    max-width: 200px;
    height: 65px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin-top: 14px;
  }
  footer .company h3 {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  footer .partners {
    padding: 0;
    margin-top: 11px;
  }
  footer .areto {
    padding: 0;
    margin-top: 12px;
    align-items: center;
  }
  footer .areto .icon {
    margin: 0;
  }
}/*# sourceMappingURL=main.css.map */